.login {
    &__container {
        background-color: yellow;
    }

    &__button {
        &--green {
            background-color: green;
        }
        &--red {

            background-color: red;
        }
    }
}






